{% extends 'content/base.html' %}

{% block top_row_ad %}{% endblock %}
{% block top_left_ad %}{% endblock %}

{% block top_content_left %}
{% endblock %}

{% block top_aside %}
{% endblock %}

{% block above_middle_row_ad %}{% endblock %}
{% block middle_left_ad %}{% endblock %}

{% block middle_content %}
  {% load static %}
  <section id="middle-content">
    <div class="col-md-6 col-md-offset-2">
      <h2>404 &ndash; Not Found</h2>
      <p>
		     Sorry, we could not find the page: <q><b>{{ unknown_page }}</b></q>.</p>
      <hr>
      <p class="text-center">
        Here's a tip: visit the
          <a href="/galleries/all/" title="Link to the Galleries page on this site">
           Galleries.</a></p>
      <p>
        They contain images of famous people's personalities,
          both real and fictional, and some sample images of
          generic personality types that do not correspond to actual people.
      </p>
    </div><!-- .col-md-6 -->
  </section><!-- #middle-content -->
{% endblock %}

{% block middle_right_ad %}{% endblock %}
{% block below_middle_row_ad %}{% endblock %}
{% block bottom_left_ad %}{% endblock %}

{% block bottom_content %}
{% endblock %}

{% block bottom_right_ad %}{% endblock %}
{% block bottom_row_ad %}{% endblock %}
