<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  {% block head %}
    <!-- For google analytics: -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-87860502-4', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- For sending click events to google analytics: -->
    <script>
      function send_google_analytics_event(category, action, label, value)
      {
        ga('send', {
          hitType: 'event',
          eventCategory: category,
          eventAction: action,
          eventLabel: label,
          eventValue: value
        });
        // console.log('sent ga event for (cat, act, lab, val) = (' + category + ', ' + action + ', ' + label + ', ' + value + ')');
      };
      function send_ga_event_with_value_1(category, action, label)
      {
        send_google_analytics_event(category, action, label, 1);
      };
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {% if title %}
        {{ title }}
      {% else %}
        {{ 'SeeOurMinds.com' }}
      {% endif %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="p:domain_verify" content="fdb068e61b8c4f7e8146fadc1d1034c6"/>

    {% load static %}
    <link rel="stylesheet" href="{% static 'content/css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'content/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'content/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'content/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'content/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'content/css/seeourminds.css' %}">
    <link rel="shortcut icon" href="{% static 'content/favicon.ico' %}">
  {% endblock %}
</head>

<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="header-container">
    <div class="social-media-icons">
      <a href="https://twitter.com/seeourminds" target="_blank"
         title="Connect with the site on twitter!" class="icons-lg">
        <i class="fa fa-lg fa-twitter-square"> </i></a>
      <a href="https://www.facebook.com/seeourminds/" target="_blank"
         title="Connect with the site on facebook!" class="icons-lg">
        <i class="fa fa-lg fa-facebook-square"> </i></a>
      <a href="https://medium.com/@seeourminds/" target="_blank"
         title="Connect with the site on medium!" class="icons-lg">
        <i class="fa fa-lg fa-medium"> </i></a>
      <a href="https://www.pinterest.com/seeourminds/" target="_blank"
         title="Connect with the site on pinterest!" class="icons-lg">
        <i class="fa fa-lg fa-pinterest-square"> </i></a>
      <a href="https://www.instagram.com/groja.com8831/" target="_blank"
         title="Connect with the site on instagram!" class="icons-lg">
        <i class="fa fa-lg fa-instagram"> </i></a>
      <a href="https://plus.google.com/+TomHartung" target="_blank"
         title="Find me on google plus!" class="icons-lg">
        <i class="fa fa-lg fa-google-plus-square"> </i></a>
      <a href="https://www.quora.com/profile/Tom-W-Hartung" target="_blank"
         title="Find me on quora!" class="icons-lg">
        <i class="fa fa-lg fa-quora"> </i></a>
      <a href="https://github.com/tomwhartung" target="_blank"
         title="Find me on github!" class="icons-lg">
        <i class="fa fa-lg fa-github-square"> </i></a>
      <a href="https://www.linkedin.com/company/groja.com" target="_blank"
         title="Connect with the site on linkedin!" class="icons-lg">
        <i class="fa fa-lg fa-linkedin-square"> </i></a>
    </div>
    <header class="wrapper clearfix">
      <a href="/">
        <img class="site-header"
             src="{% static 'content/images/header/infp-tomh_1987-81x81.gif' %}"
             alt="Image of INFP containing more blue and red squares and fewer yellow and green squares.">
        </img>
      <div class="title">
        <h1 class="site-name">SeeOurMinds.com</h1>
        <span class="tagline">'Visualizing the Invisible'&nbsp;&trade;</span>
      </div></a>
      <nav>
        <div class="dropdown">
          <ul>
            <li role="presentation">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle"
                 data-target=".galleries-collapse">
               Portrait<br>Galleries<b class="caret"></b></a>
              <div class="galleries-collapse">
                <ul class="dropdown-menu">
                  <a href="/galleries/"><li>All</li></a>
                  <a href="/galleries/fictional/"><li>Fictional</li></a>
                  <a href="/galleries/real/"><li>Real</li></a>
                  <a href="/galleries/presidents/"><li>Presidents</li></a>
                  <a href="/galleries/famous/"><li>Famous</li></a>
                  <a href="/galleries/sixteen_types/"><li>Sixteen Types</li></a>
                  <a href="/galleries/movies/"><li>Movies</li></a>
                  <a href="/galleries/tv/"><li>TV</li></a>
                  <a href="/galleries/politicians/"><li>Politicians</li></a>
                  <a href="/galleries/friends/"><li>Friends</li></a>
                  <a href="/galleries/family/"><li>Family</li></a>
                  <a href="/galleries/others/"><li>Other People</li></a>
                  <a href="/galleries/experiments/"><li>Experiments</li></a>
                  <a href="/gallery/9100-real-self_portraits/"><li>Self Portraits</li></a>
                </ul>
              </div>
            </li>
            <li role="presentation">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle"
                 data-target=".quizzes-collapse">
                 Take a<br>Quiz<b class="caret"></b></a>
              <div class="quizzes-collapse">
                <ul class="dropdown-menu">
                  <a href="/quiz"><li>About</li></a>
                  {% for quiz_size_slug, size_text in quiz_menu_data %}
                    <a href="/quiz/{{ quiz_size_slug }}/"><li>
                      {{ size_text }}</li></a>
                  {% endfor %}
                </ul>
              </div>
            </li>
            <li role="presentation">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle"
                 data-target=".legal-collapse">
                 Privacy<br>&amp; Terms<b class="caret"></b></a>
              <div class="legal-collapse">
                <ul class="dropdown-menu">
                  <a href="/legal/terms_of_service">
                   <li>Terms of Service</li></a>
                  <a href="/legal/privacy_policy">
                   <li>Privacy Policy</li></a>
                  <a href="/legal/questionnaire_disclaimer">
                   <li>Quiz Disclaimer</li></a>
                  <a href="/legal/affiliate_marketing_disclosure">
                   <li>Affiliate Marketing Disclosure</li></a>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div><!-- .header-container -->

  <main class="main-container container">
    <div class="main wrapper clearfix">
     {% block legal_content %}
     {% endblock %}
      {% block top_row_ad %}
        {% block top_row_large_billboard_ad %}
          <div class="row" id="top-row-large-billboard-ad-block">
            <div class="col-md-12 text-center">
              {{ adsense_ads.top_row_large_billboard_ad | safe }}
            </div><!-- col-md-12 -->
          </div><!-- .row -->
        {% endblock %}
        {% block top_row_large_leaderboard_ad %}
          <div class="row" id="top-row-large-leaderboard-ad-block">
            <div class="col-md-12 text-center">
              {{ adsense_ads.top_row_large_leaderboard_ad | safe }}
            </div><!-- col-md-12 -->
          </div><!-- .row -->
        {% endblock %}
      {% endblock %}
      <div class="row" id="top-row-ads-and-content-blocks">
        {% block top_content_left %}
          {% block top_left_ad %}
            <div class="col-md-4">
              {{ adsense_ads.top_left_ad | safe }}
            </div><!-- col-md-4 -->
          {% endblock %}
        {% endblock %}
        {% block top_aside %}
          {% block top_aside_top_ad %}
            {{ adsense_ads.top_aside_top_ad | safe }}
          {% endblock %}
          {% block top_aside_top_responsive_ad %}
            {{ adsense_ads.top_aside_top_responsive_ad | safe }}
          {% endblock %}
          {% block top_aside_email %}
            <aside id="top-aside-email-block">
              <h3>Join our email list!</h3>
              <p>
                Join our email list to stay up-to-date!</p>
              <form method="POST" action="https://groja.com/conversion/seeourminds"
                    class="navbar-form navbar-right" role="form">
                <div class="form-group">
                  <input name="email" type="text" placeholder="Email" class="form-control">
                </div>
                <button type="submit" class="btn btn-success"
                  onclick="send_ga_event_with_value_1('Join Email List', 'Referring Page', '{{ title }}');">
                  Sign up</button>
              </form>
            </aside>
          {% endblock %}
          {% block top_aside_bottom_responsive_ad %}
            {{ adsense_ads.top_aside_bottom_responsive_ad | safe }}
          {% endblock %}
          {% block top_aside_bottom_ad %}
            {{ adsense_ads.top_aside_bottom_ad | safe }}
          {% endblock %}
        {% endblock %}
      </div><!-- .row -->
      {% block above_middle_row_ad %}
        <div class="row" id="above-middle-row-ad-block">
          <div class="col-md-12 text-center">
           {{ adsense_ads.above_middle_row_ad | safe }}
          </div><!-- .col-md-12 -->
        </div><!-- .row -->
      {% endblock %}
      <div class="row" id="middle-row-ads-and-content-blocks">
        {% block middle_left_ad %}
          <div class="col-md-2" id="middle-left-ad-block">
            {{ adsense_ads.middle_left_ad | safe }}
          </div><!-- .col-md-2 -->
        {% endblock %}
        {% block middle_content %}
          {% block middle_content_responsive_ad %}
            <div class="col-md-4 text-center">
              {{ adsense_ads.middle_content_responsive_ad | safe }}
            </div><!-- .col-md-4 -->
          {% endblock %}
          {% block middle_content_large_rectangle_ad %}
            <div class="col-md-4 text-center">
              {{ adsense_ads.middle_content_large_rectangle_ad | safe }}
            </div><!-- .col-md-4 -->
          {% endblock %}
          {% block middle_content_medium_rectangle_ad %}
            <div class="col-md-4 text-center">
              {{ adsense_ads.middle_content_medium_rectangle_ad | safe }}
            </div><!-- .col-md-4 -->
          {% endblock %}
          {% block middle_content_square_ad %}
            <div class="col-md-4 text-center">
              {{ adsense_ads.middle_content_square_ad | safe }}
            </div><!-- .col-md-4 -->
          {% endblock %}
          {% block middle_content_small_square_ad %}
            <div class="col-md-4 text-center">
              {{ adsense_ads.middle_content_small_square_ad | safe }}
            </div><!-- .col-md-4 -->
          {% endblock %}
        {% endblock %}
        {% block middle_right_ad %}
          <div class="col-md-2" id="middle-right-ad-block">
            {{ adsense_ads.middle_right_ad | safe }}
          </div><!-- .col-md-2 -->
        {% endblock %}
      </div><!-- .row -->
      {% block below_middle_row_ad %}
        <div class="row" id="below-middle-row-ad-block">
          <div class="col-md-12 text-center">
            {{ adsense_ads.below_middle_row_ad | safe }}
          </div><!-- .col-md-12 -->
        </div><!-- .row -->
      {% endblock %}
      <div class="row" id="bottom-row-ads-and-content-blocks">
        {% block bottom_left_ad %}
          <div class="col-md-2" id="bottom-left-ad-block">
            {{ adsense_ads.bottom_left_ad | safe }}
          </div><!-- .col-md-2 -->
        {% endblock %}
        {% block bottom_content %}
        {% endblock %}
        {% block bottom_right_ad %}
          <div class="col-md-2" id="bottom-right-ad-block">
            {{ adsense_ads.bottom_right_ad | safe }}
          </div><!-- .col-md-2 -->
        {% endblock %}
      </div><!-- .row -->
      {% block bottom_row_ad %}
        <div class="row" id="bottom-row-ad-block">
          <div class="col-md-12 text-center">
            {{ adsense_ads.bottom_row_ad | safe }}
          </div><!-- .col-md-12 -->
        </div><!-- .row -->
      {% endblock %}
    </div><!-- .main .wrapper .clearfix -->
  </main><!-- .main-container .container -->

  {% block footer %}
    <footer class="footer-container">
      <p>
       Copyright &copy; 2016&ndash;2018
       <a href="http://www.TomWHartung.com" class="footer"
          title="TomWHartung.com home page" target="_blank">
        Tom W. Hartung</a> and
       <a href="https://JooMooWebSites.com" class="footer"
          title="JooMoo WebSites.com home page" target="_blank">
        JooMoo WebSites LLC</a>.
       All Rights Reserved.</p>
      <p>
        <b>Your use of this site implies you consent to our
         <a href="/legal/terms_of_service" class="footer"
            title="Terms of Service for this site">
          Terms of Service</a> and
         <a href="/legal/privacy_policy" class="footer"
            title="Privacy Policy for this site">
          Privacy Policy</a>.</b></p>
      <p>
        This site 100% designed, created, and maintained by
         <a href="https://JooMooWebSites.com" class="footer"
            title="JooMooWebSites.com home page" target="_blank">
          JooMoo WebSites LLC</a>.</p>
    </footer>

    <script src="{% static 'content/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/content/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'content/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'content/js/seeourminds.js' %}"></script>
  {% endblock %}

</body>
</html>
