{% extends 'content/base.html' %}

{% block head %}
  {{ block.super }}
{% endblock %}

{% block top_row_ad %}
  {% block top_row_large_billboard_ad %}{% endblock %}
  {% block top_row_large_leaderboard_ad %}{% endblock %}
{% endblock %}

{% block top_content_left %}
  {% block top_left_ad %}{{ block.super }}{% endblock %}
{% endblock %}

{% block top_aside %}
   <div class="col-md-4">
     {% block top_aside_top_ad %}{% endblock %}
     {% block top_aside_top_responsive_ad %}{% endblock %}
   </div><!-- .col-md-4 -->
   {% block top_aside_email %}
     {{ block.super }}
   {% endblock %}
   <div class="col-md-4">
     {% block top_aside_bottom_ad %}{% endblock %}
     {% block top_aside_bottom_responsive_ad %}{% endblock %}
   </div><!-- .col-md-4 -->
{% endblock %}

{% block above_middle_row_ad %}{{ block.super }}{% endblock %}

{% block middle_content %}
{% endblock %}

{% block below_middle_row_ad %}{{ block.super }}{% endblock %}

{% block bottom_content %}
{% endblock %}

{% block bottom_row_ad %}{{ block.super }}{% endblock %}
