{% extends 'content/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
      <p>name_of_gallery: {{ name_of_gallery }}</p>
      <p>description_of_gallery: {{ description_of_gallery }}</p>
      <p>image_file_path: {{ image_file_path }}</p>
      <section id="all-gallery-images">
        <section id="gallery-description">
          <h3>{{ name_of_gallery }} Gallery</h3>
          <p>{{ description_of_gallery }}</p>
        </section><!-- #gallery-description -->
        <div class="row">
          {% for img in image_list %}
            <div class="col-md-3">
              <p>img.image_file_name: {{ img.image_file_name }}</p>
              <p>img.image_file_path: {{ img.image_file_path }}</p>
              <div class="gallery-image">
                <figure>
                  <img src="{% static img.image_file_path %}" class="gallery-img">
                  <figcaption>{{ img.image_name }}
                    </figcaption>
                </figure>
                <p>{{ img.frontpage_blurb }}</p>
              </div><!-- .gallery-image -->
            </div><!-- .col-md-3 -->
          {% endfor %}
        </div><!-- .row -->
        <p>image_list: {{ image_list }}</p>
      </section><!-- #all-gallery-images -->

    </div><!-- .container -->
{% endblock %}

{% block aside %}
  <h3>Join our email list!</h3>
  <p>
    To be the first to see new personalities, join our email list!</p>
  <form class="navbar-form navbar-right" role="form">
    <div class="form-group">
      <input type="text" placeholder="Email" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Sign up</button>
  </form>
  {{ block.super }}
{% endblock %}


  <link rel="stylesheet" href="gallery.css">
  <script src="gallery.js"></script>
