{% extends 'content/galleries_base.html' %}

{% block head %}
  {{ block.super }}
  {% load static %}
{% endblock %}

{% block top_content_left %}
  {% block top_left_ad %}{{ block.super }}{% endblock %}
  <div class="col-md-4">
    <header id="galleries-introduction">
      <h2>{{ galleries_list_obj.galleries_list_title }}</h2>
      <p>
        This page lists and links to
          {{ galleries_list_obj.descriptive_phrase_html | safe }}</p>
      {% if galleries_list_obj.galleries_list_title != 'All Galleries' %}
        <ul>
          {% for gal_dict in galleries_list_obj.galleries_list_data %}
            {% if gal_dict.gallery_title != 'responsive_ad' %}
              <li>
                <a href="{{ gal_dict.link_to_gallery }}/"
                   title="View the {{ gal_dict.gallery_title }} gallery"
                   onclick="send_ga_event_with_value_1('Link', 'Enter Gallery', '{{ gal_dict.gallery_title }}');">
                  {{ gal_dict.gallery_title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      <p>
        Below are sample thumbnails and a brief description of
          each of these galleries.</p>
      <p>
        Pick one to visit, learn, and enjoy!</p>
    </header><!-- #galleries-introduction -->
  </div><!-- col-md-4 -->
{% endblock %}

{% block top_aside %}{{ block.super }}{% endblock %}
{% block above_middle_row_ad %}{% endblock %}
{% block middle_left_ad %}{% endblock %}
{% block middle_right_ad %}{% endblock %}

{% block middle_content %}
  {% for gal_dict in galleries_list_obj.galleries_list_data %}
    {% if gal_dict.gallery_title == 'responsive_ad' %}
      {% block middle_content_responsive_ad %}{{ block.super }}{% endblock %}
    {% else %}
      <div class="col-md-4">
        <div class="gallery-image">
          <a href="{{ gal_dict.link_to_gallery }}/"
             title="View the {{ gal_dict.gallery_title }} gallery"
             onclick="send_ga_event_with_value_1('Image', 'Enter Gallery', '{{ gal_dict.gallery_title }}');"
             class="gallery-title">
            <h2>{{ gal_dict.gallery_title }}</h2>
          </a>
          <div class="text-center">
            <figure>
              <a href="{{ gal_dict.link_to_gallery }}/"
                 title="View the {{ gal_dict.gallery_title }} gallery"
                 class="gallery-title">
                <img src="{% static gal_dict.image_dict.image_file_path %}"
                     class="gallery-image">
              </a>
              <figcaption><q>{{ gal_dict.image_dict.title }}</q></figcaption>
            </figure>
          </div><!-- .text-center -->
          {% spaceless %}
            <p class="list-page-teaser"
               id="{{ gal_dict.gallery_file_name }}-lpt-intro">
              {{ gal_dict.list_page_teaser_intro }}<span class="list-page-text-remainder"
                id="{{ gal_dict.gallery_file_name }}-lpt-remainder">{{ gal_dict.list_page_teaser_remainder }}
              </span>
              <a class="{{ gal_dict.gallery_file_name }}-lpt-link"
                 id="{{ gal_dict.gallery_file_name }}-lpt-more">.... [More]</a>
              <a class="list-page-less-link {{ gal_dict.gallery_file_name }}-lpt-link"
                 id="{{ gal_dict.gallery_file_name }}-lpt-less"> [Less]</a>
            </p>
          {% endspaceless %}
          <div class="text-center">
            <a class="btn-lg btn-primary"
               href="/gallery/{{ gal_dict.gallery_file_name }}/" role="button"
               onclick="send_ga_event_with_value_1('Button', 'Enter Gallery', '{{ gal_dict.gallery_title }}');">
              {{ gal_dict.see_gallery_button_text }} &raquo;</a>
          </div><!-- .text-center -->
        </div><!-- .gallery-image -->
      </div><!-- col-md-4 -->
    {% endif %}
    {% cycle '' '' '</div><!-- .row --><div class="row">' %}
  {% endfor %}
{% endblock %}

{% block below_middle_row_ad %}{% endblock %}
{% block bottom_left_ad %}{% endblock %}
{% block bottom_right_ad %}{% endblock %}

{% block bottom_row_ad %}{% endblock %}

{% block footer %}
  {{ block.super }}
  {% for gal_dict in galleries_list_obj.galleries_list_data %}
    {% if gal_dict.gallery_title != 'responsive_ad' %}
      <script>
        /*
         * Add an on click event handler to toggle the opacity of the
         * lpt-remainder text and both the "More" and "Less" links
         */
        $(".{{ gal_dict.gallery_file_name }}-lpt-link").on("click", function() {
          $("#{{ gal_dict.gallery_file_name }}-lpt-remainder").toggle("fade", "slow");
          $("#{{ gal_dict.gallery_file_name }}-lpt-more").toggle("fade", "slow");
          $("#{{ gal_dict.gallery_file_name }}-lpt-less").toggle("fade", "slow");
        });
        $("#{{ gal_dict.gallery_file_name }}-lpt-more").on("click", function() {
          send_ga_event_with_value_1("Link", "Show More Gallery List Page Teaser", "{{ gal_dict.gallery_title }}");
        });
        $("#{{ gal_dict.gallery_file_name }}-lpt-less").on("click", function() {
          send_ga_event_with_value_1("Link", "Show Less Gallery List Page Teaser", "{{ gal_dict.gallery_title }}");
        });
      </script>
    {% endif %}
  {% endfor %}
{% endblock %}
