{% extends 'content/base.html' %}

{% block top_row_ad %}
  {{ block.super }}
{% endblock %}

{% block top_content_left %}
    <div class="col-md-8">
      <h2>Galleries</h2>
      <p>
        See the Spiritual Portraits of some of my friends, or
        some fictional or famous people,
        by visiting one of the galleries.</p>
    </div><!-- col-md-8 -->
{% endblock %}

{% block top_aside %}
   <div class="col-md-4">
     {% block top_aside_top_ad %}{% endblock %}
     {% block top_aside_top_responsive_ad %}{% endblock %}
   </div><!-- .col-md-4 -->
   {% block top_aside_email %}
     {{ block.super }}
   {% endblock %}
   <div class="col-md-4">
     {% block top_aside_bottom_ad %}{% endblock %}
     {% block top_aside_bottom_responsive_ad %}{% endblock %}
   </div><!-- .col-md-4 -->
{% endblock %}

{% block above_middle_row_ad %}{{ block.super }}{% endblock %}

{% block middle_content %}
  <div class="col-md-4">
    <h2>
      <a href="gallery/sixteen_types/" title="View the Sixteen Types gallery" class="gallery-title">
        Sixteen Types</a>
    </h2>
    <p>
      A generic image of each of the sixteen types.</p>
    <p><a class="btn btn-default" href="gallery/sixteen_types/" role="button">View the gallery &raquo;</a></p>
  </div><!-- col-md-4 -->
  <div class="col-md-4">
    <h2>
      <a href="gallery/tv_shows/" title="View the TV Shows gallery" class="gallery-title">
        TV Shows</a>
    </h2>
    <p>
     What do personalities of the characters on some of our TV shows look like?</p>
    <p><a class="btn btn-default" href="gallery/tv_shows/" role="button">View the gallery &raquo;</a></p>
  </div><!-- col-md-4 -->
{% endblock %}

{% block below_middle_row_ad %}{{ block.super }}{% endblock %}

{% block bottom_content %}
  <div class="col-md-4">
    <h2>
      <a href="gallery/politicians/" title="View the gallery of politicians" class="gallery-title">
        Politicians</a>
    </h2>
    <p>
      Some spiritual portraits of our politicans.
      Which ones are your favorites? How do you compare to them?</p>
    <p><a class="btn btn-default" href="gallery/politicians/" role="button">View the gallery &raquo;</a></p>
  </div><!-- col-md-4 -->
  <div class="col-md-4">
    <h2>
      <a href="gallery/friends/" title="View the gallery of friends" class="gallery-title">
        Friends</a>
    </h2>
    <p>
      Over the years I have gotten some friends to take the quiz so that I could do their portraits.
      Here are the results.</p>
    <p><a class="btn btn-default" href="gallery/friends/" role="button">View the gallery &raquo;</a></p>
  </div><!-- col-md-4 -->
{% endblock %}

{% block bottom_row_ad %}{{ block.super }}{% endblock %}
