{% extends 'content/galleries_base.html' %}

{% block head %}
  {{ block.super }}
  {% load static %}
{% endblock %}

{% block top_content_left %}
  {% block top_left_ad %}{{ block.super }}{% endblock %}
  <div class="col-md-4">
    <header id="galleries-introduction">
      <h2>{{ galleries_list_obj.galleries_list_title }}</h2>
      <p>
        This page lists and links to <b>all</b> available galleries!</p>
      <ul>
        {% for gal_dict in galleries_list_obj.galleries_list_data %}
          <li>
            <a href="/gallery/{{ gal_dict.gallery_file_name }}/"
               title="View the {{ gal_dict.gallery_title }} gallery">
              {{ gal_dict.gallery_title }}</a></li>
        {% endfor %}
      </ul>
      <p>
        Below are sample thumbnails and a brief description of each of these.
        Pick one and enjoy!</p>
    </header><!-- #galleries-introduction -->
  </div><!-- col-md-4 -->
{% endblock %}

{% block top_aside %}{% endblock %}
{% block above_middle_row_ad %}{% endblock %}
{% block middle_left_ad %}{% endblock %}
{% block middle_right_ad %}{% endblock %}

{% block middle_content %}
  {% for gal_dict in galleries_list_obj.galleries_list_data %}
    {% if gal_dict.gallery_title == 'responsive_ad' %}
      {% block middle_content_responsive_ad %}{{ block.super }}{% endblock %}
    {% else %}
      <div class="col-md-4">
        <div class="gallery-image">
          <h2>
            <a href="/gallery/{{ gal_dict.gallery_file_name }}/"
               title="View the {{ gal_dict.gallery_title }} gallery"
               class="gallery-title">
              {{ gal_dict.gallery_title }}</a>
          </h2>
          <div class="text-center">
            <figure>
              <img src="{% static gal_dict.image_dict.image_file_path %}"
                   class="gallery-image">
              <figcaption><q>{{ gal_dict.image_dict.title }}</q></figcaption>
            </figure>
          </div><!-- .text-center -->
          <div>{{ gal_dict.list_page_teaser }}</div>
          <div class="text-center">
            <a class="btn-lg btn-primary"
               href="gallery/{{ gal_dict.gallery_file_name }}/" role="button">
              See Their Minds &raquo;</a>
          </div><!-- .text-center -->
        </div><!-- .gallery-image -->
      </div><!-- col-md-4 -->
    {% endif %}
    {% cycle '' '' '</div><!-- .row --><div class="row">' %}
  {% endfor %}
{% endblock %}

{% block below_middle_row_ad %}{% endblock %}
{% block bottom_left_ad %}{% endblock %}
{% block bottom_right_ad %}{% endblock %}

{% block bottom_row_ad %}{{ block.super }}{% endblock %}
