{% extends 'content/galleries_base.html' %}

{% block head %}
  {{ block.super }}
  {% load static %}
{% endblock %}

{% block top_content_left %}
  {% block top_left_ad %}{{ block.super }}{% endblock %}
  <div class="col-md-4">
    <header id="galleries-introduction">
      <h2>Galleries</h2>
      <p>
        Below are links to the following galleries:</p>
      <ul>
        {% for gal_dict in galleries_list_data %}
          <li>{{ gal_dict.gallery_title }}</li>
        {% endfor %}
      </ul>
      <p>
        Pick one and enjoy!</p>
    </header><!-- #galleries-introduction -->
  </div><!-- col-md-4 -->
{% endblock %}

{% block top_aside %}{{ block.super }}{% endblock %}
{% block above_middle_row_ad %}{% endblock %}

{% block middle_content %}
{% for gal_dict in galleries_list_data %}
<div class="col-md-4">
  <h2>
    <a href="/gallery/{{ gal_dict.gallery_file_name }}/"
       title="View the {{ gal_dict.gallery_title }} gallery"
       class="gallery-title">
      {{ gal_dict.gallery_title }}</a>
  </h2>
  <div>{{ gal_dict.story_html | safe }}</div>
  <div>{{ gal_dict.description_html | safe }}</div>
  <div class="gallery-image">
    <div class="text-center">
      <figure>
        <img src="{% static 'content/images/galleries/generic/enfj.jpg' %}"
             class="gallery-image">
        <figcaption><q>Generic ENFJ</q></figcaption>
      </figure>
    </div><!-- .text-center -->
    <p>
       This generic ENFJ is typical of the generic images, which all have
        a fairly well-balanced score.
    </p>
    <div class="text-center">
      <a class="btn-lg btn-primary" href="gallery/generic/" role="button">
        See Their Minds &raquo;</a>
    </div><!-- .text-center -->
  </div><!-- .gallery-image -->
</div><!-- col-md-4 -->
{% endfor %}

  <div class="col-md-4">
    <h2>
      <a href="gallery/generic/" title="View the Generic Sixteen Types gallery"
         class="gallery-title">
        Sixteen Generic Images</a>
    </h2>
    <p>
      Generic images portray a personality with preferences that are a fixed percentage.
      For example, the score used to generate the generic image of
        an ISTP in this gallery is
        E:42%/I:58%, N:42%/S:58%, F:42%/T:58%, and J:42%/P:58%.</p>
    <p>
      This gallery contains a generic image of each of the sixteen types.
      Note however, that real people do not always look so balanced!</p>
    <div class="gallery-image">
      <div class="text-center">
        <figure>
          <img src="{% static 'content/images/galleries/generic/enfj.jpg' %}"
               class="gallery-image">
          <figcaption><q>Generic ENFJ</q></figcaption>
        </figure>
      </div><!-- .text-center -->
      <p>
         This generic ENFJ is typical of the generic images, which all have
          a fairly well-balanced score.
      </p>
      <div class="text-center">
        <a class="btn-lg btn-primary" href="gallery/generic/" role="button">
          See Their Minds &raquo;</a>
      </div><!-- .text-center -->
    </div><!-- .gallery-image -->
  </div><!-- col-md-4 -->
  <div class="col-md-4">
    <h2>
      <a href="gallery/fictional_people/" title="View the TV Shows gallery" class="gallery-title">
        Fictional Characters</a>
    </h2>
    <p>
      What do the personalities of the characters on some of our books, movies,
        and TV shows look like?
       Is your personality similar to that of some of your favorite
        iconic characters?</p>
     <p>
       This gallery seeks to answer those questions!</p>
    <div class="gallery-image">
      <div class="text-center">
        <figure>
          <img src="{% static 'content/images/galleries/fictional_people/istj-mr_spock-star_trek.jpeg' %}"
               class="gallery-image">
          <figcaption><q>Mr. Spock of Star Trek</q></figcaption>
        </figure>
      </div><!-- .text-center -->
      <p>
         The large amount of green shows that Mr. Spock is a very logical person.
         Visit the gallery to see other members of the Star Trek crew!
      </p>
      <div class="text-center">
        <a class="btn-lg btn-primary" href="gallery/fictional_people/" role="button">
          See Their Minds &raquo;</a></p>
      </div><!-- .text-center -->
    </div><!-- .gallery-image -->
  </div><!-- col-md-4 -->
{% endblock %}

{% block below_middle_row_ad %}{{ block.super }}{% endblock %}

{% block bottom_content %}
  <div class="col-md-4">
    <h2>
      <a href="gallery/real_people/" title="View the gallery of friends" class="gallery-title">
        Friends</a>
    </h2>
    <p>
      I sometimes ask friends to take the quiz so that I can create
       their portraits.</p>
    <p>
      Here are some of the results!</p>
    <div class="gallery-image">
      <div class="text-center">
        <figure>
          <img src="{% static 'content/images/galleries/real_people/esfj-jim_armstrong-a_best_friend_forever.jpeg' %}"
               class="gallery-image">
          <figcaption><q>Jim Armstrong, Best Friend to Many</q></figcaption>
        </figure>
      </div><!-- .text-center -->
      <p>
         This very warm portrait is of our friend Jim, a very warm friend to many of us.
         Visit the gallery to see some of the other friends I've met over the years!
      </p>
      <div class="text-center">
        <a class="btn-lg btn-primary" href="gallery/real_people/" role="button">
          See Their Minds &raquo;</a></p>
      </div><!-- .text-center -->
    </div><!-- .gallery-image -->
  </div><!-- col-md-4 -->
  <div class="col-md-4">
    <h2>
      <a href="gallery/politicians/" title="View the gallery of politicians" class="gallery-title">
        Politicians</a>
    </h2>
    <p>
      Which politicians &ndash; if any &ndash; are your favorites?
      How does your personality compare to theirs?</p>
    <p>
      This gallery contains some spiritual portraits of our politicans, and
        may help you answer those questions for yourself!</p>
    <div class="gallery-image">
      <div class="text-center">
        <figure>
          <img src="{% static 'content/images/galleries/politicians/intp-abraham_lincoln.jpeg' %}"
               class="gallery-image">
          <figcaption><q>Abraham Lincoln: INTP</q></figcaption>
        </figure>
      </div><!-- .text-center -->
      <p>
         The blue shows us Honest Abe was idealistic, and
          the green shows us he was logical and believed in fairness for all.
         Visit the gallery to see other presidents and politicans, both old and new!
      </p>
      <div class="text-center">
        <a class="btn-lg btn-primary" href="gallery/politicians/" role="button">
          See Their Minds &raquo;</a></p>
      </div><!-- .text-center -->
    </div><!-- .gallery-image -->
  </div><!-- col-md-4 -->
{% endblock %}

{% block bottom_row_ad %}{{ block.super }}{% endblock %}
