{% extends 'content/base.html' %}

{% block content %}
  <article class="jumbotron">
    <section id="pitch">
      <h1>SeeOurMinds.com</h1>
      <p>Shedding light on who we are.</p>
      <dl>
        <dt>To See Their Minds...</dt>
        <dd>... visit one of the galleries below.</dd>
        <dt>To See My Mind...</dt>
        <dd>
          ... see the
          <a href="http://www.groja.com/#top-row-sidebox" target="_blank"
             title="groja.com Home page.".>"Tom H: INFP"</a>
          image (in the aside/sidebox) on the
          <a href="http://www.groja.com" target="_blank"
             title="groja.com Home page.".>Home page</a>
          of groja.com.</dd>
        <dt>To See Your Mind...</dt>
        <dd>
          ... visit the
          <a href="http://www.groja.com/yourportrait" target="_blank"
             title="groja.com Your Portrait page.".>
             Your Portrait page</a>
          on groja.com to get your own, personalized Spiritual Portrait.</dd>
        <dt>To learn the theory behind all this ...</dt>
        <dd>
          ... visit the
          <a href="http://www.groja.com" target="_blank"
             title="groja.com About page.".>About page
          </a>on groja.com.</dd>
      </dl>
    </section>
  </article>
{% endblock %}

{% block aside %}
  <h3>Join our email list!</h3>
  <p>
    To stay up-to-date on all this, join our email list!</p>
  <form class="navbar-form navbar-right" role="form">
    <div class="form-group">
      <input type="text" placeholder="Email" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Sign up</button>
  </form>
  {{ block.super }}
{% endblock %}
