{% extends 'content/base.html' %}

{% block top_content_left %}
  <div class="col-md-8">
    <section class="jumbotron">
      <dl class="did-you-ever">
        <dt>Did you ever wonder...?</dt>
        <dd>What a personality might look like,
          if you could see it?</dd>
        <dt>Did you ever wish you could...?</dt>
        <dd>Understand why your friends, loved-ones, and
           co-workers do and say the things they say and do?</dd>
        <dt>Did you ever want to learn...?</dt>
        <dd>More about what makes us tick?</dd>
      </dl>
      <p>
        If you ever wondered, wished, or wanted any of these things,
          welcome to</p>
      <h1>SeeOurMinds!</h1>
      <p class="air-quotes">Shedding light on the things we cannot see.</p>
	 </section><!-- .jumbotron -->
  </div><!-- .col-md-8 -->
{% endblock %}

{% block top_aside %}
  {{ block.super }}
  <hr>
  <h3>Join our email list!</h3>
  <p>
    Join our email list to stay up-to-date!</p>
  <form method="POST" action="http://groja.com/contactme"
      class="navbar-form navbar-right" role="form">
    <div class="form-group">
      <input name="email" type="text" placeholder="Email" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Sign up</button>
  </form>
{% endblock %}

{% block middle_content %}
  {% load static %}
  <section id="middle-content">
    <div class="col-md-6">
      <h2>To See Their Minds...</h2>
      <p>
        Visit the
          <a href="galleries" title="Link to the Galleries page on this site">
           Galleries.</a></p>
      <p>
        They contain images of famous people's personalities,
          both real and fictional, and some sample images of
          generic personality types that do not correspond to actual people.
      </p>
      <div class="text-center">
        <a href="galleries" title="Visit the seeourminds.com galleries.">
          <button type="submit" class="btn-lg btn-primary">
            Visit the Galleries</button></a>
      </div><!-- .text-center -->
    </div><!-- .col-md-6 -->
    <div class="col-md-6">
      <h2>To See My Mind...</h2>
      <p>
        ... see the
        <a href="{% static 'content/images/header/infp-tomh_1987-515x515.gif' %}"
           target="_blank" title="Close up of INFP image in the site header.">
          image in the page header.</a></p>
      <p>
        a &gt; img tag:
        <a href="{% static 'content/images/header/infp-tomh_1987-515x515.gif' %}"
           target="_blank" title="Close up of INFP image in the site header.">
          <img src="{% static 'content/images/header/infp-tomh_1987-81x81.gif' %}"
               alt="Image of INFP containing more blue and red squares and fewer yellow and green squares.">
          </img></a></p>
      <p>
        span tag with class icon-infp:
            <a href="{% static 'content/images/header/infp-tomh_1987-515x515.gif' %}"
               target="_blank" title="Close up of INFP image in the site header.">
              <span class="icon-infp">&nbsp;x&nbsp;
              </span></a></p>
    </div><!-- .col-md-6 -->
  </section><!-- #middle-content -->
{% endblock %}

{% block bottom_content %}
  <section id="bottom-content">
    <div class="col-md-6">
      <h2>To See Your Mind...</h2>
      <p>
        Head on over to the
        <a href="http://www.groja.com/yourportrait" target="_blank"
           title="groja.com Your Portrait page.".>
           Your Portrait page</a>
        on groja.com to get your own, personalized Spiritual Portrait.</p>
        <div class="text-center">
          <a href="galleries" title="Visit the seeourminds.com galleries.">
            <button type="submit" class="btn-lg btn-primary">
              Visit the Galleries</button></a>
        </div><!-- .text-center -->
    </div><!-- .col-md-6 -->
    <div class="col-md-6">
      <h2>To learn more about all this ...</h2>
      <p>
        ... visit the
        <a href="http://www.groja.com" target="_blank"
           title="groja.com About page.".>About page
        </a>on groja.com.</p>
    </div><!-- .col-md-6 -->
  </section><!-- #bottom-content -->
{% endblock %}
