{% extends 'content/base.html' %}

{% block head %}
  {{ block.super }}
  {% load static %}
{% endblock %}

{% block top_aside %}
{% endblock %}

{% block above_middle_row_ad %}
  {{ block.super }}
{% endblock %}

{% block middle_left_ad %}
  {{ block.super }}
{% endblock %}

{% block middle_content %}
  <div class="col-md-8">
    <section id="image">
      <div class="single-image">
        <figure>
          <img src="{% static image_path %}" class="single-img">
          <figcaption><q>{{ image_name }}</q></figcaption>
        </figure>
        <p>{{ text }}</p>
      </div><!-- .single-image -->
    </section><!-- #image -->
  </div><!-- .col-md-8 -->
{% endblock %}

{% block middle_right_ad %}
  {{ block.super }}
{% endblock %}

{% block below_middle_row_ad %}
  {{ block.super }}
{% endblock %}
