{% extends 'content/base.html' %}

{% block head %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="{% static 'content/css/gallery.css' %}">
{% endblock %}

{% block top_content_left %}
    <section id="image">
      <div class="col-md-6">
        <div class="gallery-image">
          <figure>
            <img src="{% static image_path %}" class="gallery-img">
            <figcaption><q>{{ image_name }}</q></figcaption>
          </figure>
          <p>{{ text }}</p>
        </div><!-- .gallery-image -->
      </div><!-- .col-md-6 -->
    </section><!-- #all-gallery-images -->
{% endblock %}

{% block top_aside %}
  {{ block.super }}
{% endblock %}
