{% extends 'content/base.html' %}

{% block head %}
  {{ block.super }}
  {% load static %}
  <script src="{% static 'content/js/vendor/d3.v4.min.js' %}"></script>
  <script src="{% static 'content/js/score_bars.js' %}"></script>
 {% endblock %}

{% block top_row_ad %}{% endblock %}
{% block top_content_left %}{% endblock %}
{% block top_aside %}{% endblock %}

{% block above_middle_row_ad %}{% endblock %}
{% block middle_left_ad %}{{ block.super }}{% endblock %}

{% block middle_content %}
  <div class="col-md-8">
    <section id="image">
      <div class="pull-right">
        <a class="btn btn-danger btn-xs som-btn-all"
           href="{{ back_to_gallery_href }}"
           title="Go Back to the Gallery containing this image">
          Back</a>
      </div><!-- .pull-right -->
      <div class="single-image">
        <h1 class='image-page'>{{ image_dict.title }}</h1>
        <figure>
          <img src="{% static image_dict.path %}" class="single-img center">
        </figure>
        {% if image_dict.fixed_percentages %}
          <div class="text-center">
            <p class="fixed-percentages">
              Image Is Based on a Four-Letter Type (Fixed Percentages)</p>
          </div><!-- .text-center -->
        {% endif %}
        {% if image_dict.year  %}
          <div class="pull-right image-year">
            [&copy;&nbsp;{{ image_dict.year }}]
          </div><!-- .pull-right -->
        {% endif %}
        {% if image_dict.explain_dom or image_dict.explain_aux %}
          <div class="text-center">
            {% if image_dict.explain_dom  %}
              <a class="btn btn-md som-btn-all" id="toggle-explain-dom"
                 title="Toggle explanation of how the image represents the dominant personality function">
                Explain Dominant Color</a>
            {% endif %}
            {% if image_dict.explain_aux %}
              <a class="btn btn-md som-btn-all" id="toggle-explain-aux"
                 title="Toggle explanation of how the image represents the auxiliary personality function">
                Explain Auxiliary Color</a>
            {% endif %}
          </div><!-- .text-center -->
          {% if image_dict.explain_dom  %}
            <p id="explain-dom" class="som-text-to-toggle">
              {{ image_dict.explain_dom }}</p>
          {% endif %}
          {% if image_dict.explain_aux %}
            <p id="explain-aux" class="som-text-to-toggle">
              {{ image_dict.explain_aux }}</p>
          {% endif %}
        {% endif %}
        <div class="text-center">
          {% if image_dict.subtitle_html %}
            <h3 class="image-page">{{ image_dict.subtitle_html | safe }}</h3>
          {% else %}
            {% if image_dict.tweet_html %}
              <p>{{ image_dict.tweet_html | safe }}</p>
            {% elif image_dict.subject_line %}
              <p>{{ image_dict.subject_line }}</p>
            {% endif %}
          {% endif %}
        </div><!-- .text-center -->
        {% if image_dict.story_html %}
          <div class="text-justify">
            {% spaceless %}
              {% if image_dict.story_intro_html %}
                <div id="story-intro-html">
                  {{ image_dict.story_intro_html | safe }}
                </div><!-- #story-intro-html -->
              {% endif %}
              <div id="story-html" class="som-text-to-toggle">
                {{ image_dict.story_html | safe }}
              </div><!-- #story-html -->
            {% endspaceless %}
          </div><!-- .text-justify -->
        {% endif %}
        {% if image_dict.story_html or image_dict.meat_portrait_href %}
          <div class="text-center">
            {% if image_dict.story_html %}
              <a class="btn btn-success btn-md som-btn-all"
                 href="#whole-story"
                 id="toggle-story-html"
                 title="Show the entire story behind these images">
                {{ image_dict.show_story_btn_text }}</a>
            {% endif %}
            {% if image_dict.meat_portrait_href %}
              <a class="btn btn-success btn-md som-btn-all" id="show-meat-portrait"
                 href="{{ image_dict.meat_portrait_href }}" target="_blank"
                 title="Opens a new window containing a photograph of {{ image_dict.title }}">
                Show the Meat Portrait</a>
            {% endif %}
          </div><!-- .text-center -->
        {% endif %}
        <a href="https://en.wikipedia.org/wiki/{{ image_dict.four_letter_type }}"
           title="Click to open the wikipedia page for {{ image_dict.four_letter_type }}s in a new window"
           target="_blank">
          {% if image_dict.score %}
            <div class="score-svg" id="score-bars"></div><!-- #score-bars -->
          {% else %}
            <p>{{ image_dict.four_letter_type }}</p>
          {% endif %}
        </a>

        {% if image_dict.compare_to or image_dict.contrast_with %}
          <div class="text-center">
            {% if image_dict.compare_to_path  %}
              <a class="btn btn-md btn-primary som-btn-all"
                 href="{{ image_dict.compare_to_path }}"
                 title="Click to see the image of someone with a similar personality">
                Compare to Image of <q>{{ image_dict.compare_to_title }}</q></a>
            {% endif %}
            {% if image_dict.contrast_with %}
              <a class="btn btn-md btn-primary som-btn-all"
                 href="{{ image_dict.contrast_with_path }}"
                 title="Click to see the image of someone with a very different personality">
                Contrast With Image of <q>{{ image_dict.contrast_with_title }}</q></a>
            {% endif %}
          </div><!-- .text-center -->
        {% endif %}

        {% if image_dict.story_html %}
          <hr class="before-whole-story" />
          <hr class="before-whole-story" />
          <a name="whole-story"></a>
          <hr class="before-whole-story" />
          <div class="text-justify">
            <div id="whole-story-html">
              <h2>The Whole Story</h2>
              {{ image_dict.story_html | safe }}
            </div><!-- #whole-story-html -->
          </div><!-- .text-justify -->
        {% endif %}

      </div><!-- .single-image -->
    </section><!-- #image -->
  </div><!-- .col-md-8 -->
{% endblock %}

{% block middle_right_ad %}{{ block.super }}{% endblock %}
{% block below_middle_row_ad %}{{ block.super }}{% endblock %}

{% block bottom_left_ad %}{% endblock %}
{% block bottom_right_ad %}{% endblock %}
{% block bottom_row_ad %}{% endblock %}

{% block footer %}
  {{ block.super }}
  {% if image_dict.story_html or image_dict.explain_dom or image_dict.explain_aux %}
    <script>
      function send_ga_image_page_event(action, label)
      {
        send_ga_event_with_value_1('Button', action, label);   // defined in base.html
      };
      var toggle_text_effect = seeourminds.effect_for_type["{{ image_dict.four_letter_type }}"];
/*
 **************************************************************************
 *
 * 2018-09-29 Commenting out these event handlers for the Toggle Story button,
 *    but keeping the code for possible future reference
 *
 *    {% if image_dict.story_html %}
 *      $("#toggle-story-html").click(function() {
 *        var button_text = $("#toggle-story-html").text();
 *        if ( button_text.includes('Show') ) {
 *          $("#story-intro-html").toggle("fade", "fast");
 *          $("#story-html").toggle(toggle_text_effect, "slow");
 *          $("#toggle-story-html").removeClass("btn-success");
 *          $("#toggle-story-html").addClass("btn-danger");
 *          $("#toggle-story-html").text("Hide the Story");
 *          send_ga_image_page_event("Show Image Story", "{{ image_dict.title }}");
 *        } else {
 *          $("#story-html").toggle(toggle_text_effect, "slow");
 *          $("#story-intro-html").toggle("fade", "fast");
 *          $("#toggle-story-html").removeClass("btn-danger");
 *          $("#toggle-story-html").addClass("btn-success");
 *          $("#toggle-story-html").text("{{ image_dict.show_story_btn_text }}");
 *          send_ga_image_page_event("Hide Image Story", "{{ image_dict.title }}");
 *        }
 *      });
 *    {% endif %}
 **************************************************************************
 */

      {% if image_dict.explain_dom %}
        /*
         * Use the four letter type to set the color names and
         * bootstrap class for the colors for the dominant function
         */
        var color_name_for_dom = seeourminds.color_name_for_dom["{{ image_dict.four_letter_type }}"];
        var class_for_dom = seeourminds.bootstrap_class_for_dom["{{ image_dict.four_letter_type }}"];
        $("#toggle-explain-dom").text("Explain the " + color_name_for_dom);
        $("#toggle-explain-dom").addClass(class_for_dom);
        /*
         * Event handler for the Explain Dominant Function button:
         */
        $("#toggle-explain-dom").click(function() {
          $("#explain-dom").toggle(toggle_text_effect, "slow");
          var button_text = $("#toggle-explain-dom").text();
          if ( button_text.includes('Explain') ) {
            $("#toggle-explain-dom").text("Hide Explanation");
            send_ga_image_page_event("Explain the dom color: " + color_name_for_dom, "{{ image_dict.title }}");
          } else {
            $("#toggle-explain-dom").text("Explain the " + color_name_for_dom);
            send_ga_image_page_event("Hide Explanation, dom: " + color_name_for_dom, "{{ image_dict.title }}");
          }
        });
      {% endif %}
      {% if image_dict.explain_aux %}
        /*
         * Use the four letter type to set the color names and
         * bootstrap class for the colors for the auxiliary function
         */
        var color_name_for_aux = seeourminds.color_name_for_aux["{{ image_dict.four_letter_type }}"];
        var class_for_aux = seeourminds.bootstrap_class_for_aux["{{ image_dict.four_letter_type }}"];
        $("#toggle-explain-aux").text("Explain the " + color_name_for_aux);
        $("#toggle-explain-aux").addClass(class_for_aux);
        /*
         * Event handler for the Explain Auxiliary Function button:
         */
        $("#toggle-explain-aux").click(function() {
          $("#explain-aux").toggle(toggle_text_effect, "slow");
          var button_text = $("#toggle-explain-aux").text();
          if ( button_text.includes('Explain') ) {
            $("#toggle-explain-aux").text("Hide Explanation");
            send_ga_image_page_event("Explain the aux color: " + color_name_for_aux, "{{ image_dict.title }}");
          } else {
            $("#toggle-explain-aux").text("Explain the " + color_name_for_aux);
            send_ga_image_page_event("Hide Explanation, aux: " + color_name_for_dom, "{{ image_dict.title }}");
          }
        });
      {% endif %}
    </script>
  {% endif %}

  {% if image_dict.score %}
    <script>
      /*
       * For the Score Bars:
       * -------------------
       * Define positioning parameters and create the score_bars d3 svg chart
       */
      var positioning_params = {
        selector: '#score-bars',
        total_width: 575,
        total_height: 35,
        margin_top: 8,
        margin_right: 21,
        margin_bottom: 15,
        margin_left: 62,
      };
      var image_score = [
        {% for pair in image_dict.score %}
          {{ pair|safe }},
        {% endfor %}
      ];
      score_bars.create_chart_svg(
        positioning_params,
        image_score
      );
    </script>
  {% endif %}
{% endblock %}
