<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>seeourminds.com</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'content/css/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'content/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'content/css/seeourminds.css' %}">
</head>
<body>

  <div class="header-container">
    <header class="wrapper clearfix">
      <a href="#">
        <img class="site-header" src="{% static 'content/images/intp-generic-scaled-81x81.gif' %}"></a>
      <h1 class="title">SeeOurMinds.com
        <span class="tagline">'Visualizing Personalities Since 1989'&trade;</span>
      </h1>
      <nav>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="quiz">Quiz</a></li>
          <li><a href="http://groja.com">About</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="main-container">
    <div class="main wrapper clearfix">

      <article>
        <header>
          <h1>{{ context_heading }}</h1>

          {% if context_leading_ptags %}
            {% for ptag_content in context_leading_ptags %}
              <p>{{ ptag_content }}</p>
            {% endfor %}
          {% endif %}
          {% if context_main_litags %}
            <ul>
            {% for litag_content in context_main_litags %}
              <li>{{ litag_content }}</li>
            {% endfor %}
            </ul>
          {% endif %}
          {% if context_trailing_ptags %}
            {% for ptag_content in context_trailing_ptags %}
              <p>{{ ptag_content }}</p>
            {% endfor %}
          {% endif %}
        </header>
      </article>
      <aside>
        <h3>What?!?</h3>
        <p>
          If you miss the old site and want to ressurect it on your own server, the code is
          <a href="https://github.com/tomwhartung" title="My github page" target="blank">
            on github.</a>
          It comprises the core code in the
          <a href="https://github.com/tomwhartung/seeourminds.com-joomla"
             title="The seeourminds.com-joomla repo on github" target="blank">
            seeourminds.com-joomla repo</a>
          and the code for most of the extensions is in my
          <a href="https://github.com/tomwhartung?page=1&q=joomoo&tab=repositories&utf8=%E2%9C%93&utf8=%E2%9C%93&q=joomoo"
             title="List of my github repos with names containing 'joomoo'" target="blank">
            joomoo* repos</a>.
          For a list of these, see my
          <a href="https://tomwhartung.github.io/joomla-1x/"
             title="My github.io page about the joomla 1.x extensions I wrote" target="blank">
            github.io/joomla-1x page</a>.
        </p>
      </aside>
    </div><!-- .main .wrapper .clearfix -->
  </div><!-- .main-container -->

  <script src="{% static 'content/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
  <script src="{% static 'content/js/vendor/jquery-1.11.2.min.js' %}"></script>
  <script src="{% static 'content/js/main.js' %}"></script>
</body>
</html>
