<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>seeourminds.com</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'content/css/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'content/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'content/css/seeourminds.css' %}">
  <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body>

  <div class="header-container">
    <header class="wrapper clearfix">
      <h1 class="title">seeourminds.com</h1>
      <nav>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="quiz">Quiz</a></li>
          <li><a href="http://groja.com">Groja.com</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="main-container">
    <div class="main wrapper clearfix">

      <article>
        <header>
          <h1>{{ context_heading }}</h1>

          {% if context_leading_ptags %}
            {% for ptag_content in context_leading_ptags %}
              <p>{{ ptag_content }}</p>
            {% endfor %}
          {% endif %}
        </header>
      </article>
    </div><!-- .main .wrapper .clearfix -->
  </div><!-- .main-container -->

</body>
</html>
