{% extends 'content/base.html' %}

{% block top_content_left %}
  <article>
    <header>
      <h1>The SeeOurMinds.com Quiz</h1>
      <p>
         Answer all 88 questions to the best of your ability.</p>
      <p>
        This is an experimental quiz!
        (The main reason it's online at this time is so I can
         get some feedback on it.&sup1;)
        So please do not take the results too seriously!</p>
    </header>
    <hr />
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in quiz_form %}
        <div class="fieldWrapper">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
      <input type="submit" value="Submit" />
    </form>
    <hr />
    <p>
      &sup1; We will come up with some sort of official disclaimer some day,
      for now, please just take things with a grain of salt.</p>
    <p>
      Moreover, this quiz is a work in progress, and at this time
        I am not by any means ready to guarantee that it
        will give you an accurate result.
      I've had a lot of fun writing this quiz, coming up with the
       questions, without stealing from Briggs-Meyers and Keirsey, and even
       more so with writing code to support having a varying number of options
       to some of the questions (rather than just either/or options).
      But it definitely needs more work!</p>
    <p>
      If accuracy is important to you, please take other quizzes and
        get a variety of opinions.
      And if you really want to learn exactly what your four letter type is,
       by all means take the
       <a href="http://www.myersbriggs.org/my-mbti-personality-type/take-the-mbti-instrument/"
          target="_blank" title="Site where you can take the real MBTI">
         real MBTI&reg; instrument</a>!</p>
    <hr />
  </article>
{% endblock %}

{% block top_aside %}
  {{ block.super }}
  <h3>For Updates</h3>
  <p>
    To stay up-to-date on all this, join our email list!</p>
  <!-- This code was copied from groja.com and uses bootstrap classes -->
  <!-- So at some point we need to either add bootstrap or clean out these styles -->
  <form class="navbar-form navbar-right" role="form">
    <div class="form-group">
      <input type="text" placeholder="Email" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Sign in</button>
  </form>
{% endblock %}
