/**
 * According to comments in main.css, we are "supposed" to
 * add our custom styles into the middle of that file.
 * I decided to put them here, instead.
 */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/*
 * Keep images etc. from overflowing their containers
 * Reference:
 *   https://developers.google.com/web/fundamentals/design-and-ui/responsive/images#use_relative_sizes_for_images
 */
img, embed, object, video {
    max-width: 100%;
}

/*
 * Adding styles for the header, to get the look and feel I want
 */
h1.site-name {
    text-align: left;
}
h1 {
    margin-top: .5em;
    margin-bottom: .5em;
}
.title {
    display: block;
    text-align: left;
}
.tagline {
    color: white;
    display: block;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}
nav {
    margin-top: 2.2em;
}
q {
    font-style: italic;
}
img.site-header {
    float: left;
    margin: .6em;
}
@media only screen and (max-width: 479px) {
    img.site-header {
        display: block;
        float: none;
        margin: .5em auto;
    }
    h1.site-name,
    .tagline {
        text-align: center;
    }
}

/*
 * For the home landing page, which must look and be just exactly perfect
 */
dl.did-you-ever {
     margin-bottom: 1em;
}
dl.did-you-ever dd {
    margin-left: 1.5em;
}

/*
 * The middle and bottom content are just a little too close together for me.
 */
#bottom-content {
    margin-top: 2em;
}
/*
 * Try making an icon with one of my portraits
 * Reference: http://stackoverflow.com/questions/10393325/how-to-add-custom-icon-in-twitter-bootstrap
 * ** This is *not* working and *not* being used right now! **
 * ** Saving this code for possible future reference **
 */
.icon-infp {
    background-image: url("content/images/header/infp-tomh_1987-515x515.gif");
    background-position: center center;
}

/*
 * For links in the aside and footer, which have backgrounds.
 */
a.aside,
a.footer {
    color: lightskyblue;
    text-decoration: none;
}
a.aside:hover,
a.footer:hover {
    color: lightgrey;
    text-decoration: underline;
}
/*
 * Styles for footer (also see the .footer-container class below)
 */
footer {
    color: white;
    margin: 3em auto;
    padding: 1em;
    text-align: center;
    width: 80%;
}

/*
 * ==========================
 *  Overriding styles in the
 *   "ALL: Orange Theme"
 *  section of main.css .
 * ==========================
 */

.header-container {
    border: 12px solid maroon;  /* was: #e44d26; */
    border-width: 12px 0;
}

.footer-container,
.main aside {
    border: 12px solid maroon;  /* was: #e44d26; */
    border-radius: 6px;
    border-width: 12px 0;
}

.header-container,
.footer-container,
.main aside {
    background: firebrick;   /* was: #f16529; */
}

.title {
    color: white;
}

/*
 * ==========================
 *  Overriding styles in the
 *   "MOBILE: Menu"
 *  section of main.css .
 * ==========================
 */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 0;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: maroon;   /* was: #e44d26; */
}

/*
 * ==========================
 * For the social media icons
 * ==========================
 * Inspired by code on these pages:
 *    http://ksloan.net/css-color-definitions-for-font-awesome-social-icons/
 *    http://www.kodingmadesimple.com/2014/11/create-stylish-bootstrap-3-social-media-icons.html
 */
.social-media-icons {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
    padding: .1em .3em;
    z-index: 1;
}
i.fa-lg {
    margin: .1em;
}
i.fa-lg:hover {
    font-size: 1.5em;
    margin: 0px;
    text-shadow: 2px 2px lightgrey;
}
.fa-facebook, .fa-facebook-square {
    color: #3b5998;
}
.fa-twitter, .fa-twitter-square {
    color: #00aced;
}
.fa-github, .fa-github-alt {
    color: #343434;
}
.fa-instagram {
    color: #517fa4;
}
.fa-pinterest, .fa-pinterest-square {
    color: #cb2027;
}
.fa-google-plus, .fa-google-plus-square {
    color: #dd4b39;
}
.fa-linkedin, .fa-linkedin-square {
    color: #007bb6;
}

/*
 * ====================================
 * For the D3 SVG score_bars
 * From 25-d3_tutorials_to_score_bars/04-final_d3v4/css/score_bars.css
 *   in the always_learning_python repo
 * ====================================
 */
 .score-svg {
    /* border: solid blue 3px; */
    margin: 1em;
    padding: 0;
 }
 .score-bar {
    display: block;
    font: 10px sans-serif;
 }
 .score-bar .function-letter {
    fill: #000077;
    font-size: 14px;
    font-weight: bold;
 }
 .score-bar .function-name {
    fill: #770000;
 }
 .score-bar .score-pct {
    stroke: #777777;
    stroke-width: 1px;
 }
 .score-bar .tick line {
    stroke: #111111;
    stroke-width: .5px;
 }
 .n-score {
    fill: #0000FF;
 }
 .s-score {
    fill: #FFFF00;
 }
 .f-score {
    fill: #FF0000;
 }
 .t-score {
    fill: #00FF00;
 }
 .x-score {
    fill: #777777;
 }

/*
 * ===============
 * Semantic styles
 * ===============
 */
.air-quotes::before { content: '"'; }
.air-quotes {
    font-style: italic;
}
.air-quotes::after { content: '"'; }

.superscript::before { content: "["; }
.superscript {
    font-variant-position: super;
}
.superscript::after { content: "]"; }

img.center {
    display: block;
    margin: 0 auto;
}

ul.notes {
    list-style-type: none;
}
ul.no-bullets, ul.debugging, ul.square-bullets {
   margin: 0.5em;
   padding: 0.5em;
}
ul.no-bullets, ul.debugging {
   list-style-type: none;
}
ul.debugging {
   border: 3px solid red;
}
ul.square-bullets {
   list-style-type: square;
}

/*
 * =================
 * For the Home page
 * =================
 */
.see-my-mind {
    float: left;
    margin: .5em;
    padding: .5em;
}

/*
 * =========================
 * For the Gallery List page
 * =========================
 */
.list-page-text-remainder,
.list-page-less-link {
  display: none;
}
/*
 * ====================
 * For the Gallery page
 * ====================
 */
div.gallery-image {
    border: 2px solid midnightblue;
    border-radius: 1em;
    margin: .5em;
    padding: .5em 1.5em 2em;
    text-align: left;
}
h1.image-page,
h3.image-page,
h3.gallery-image {
   font-weight: bold;
   text-decoration: underline;
}
h3.image-page,
h4.gallery-image {
   font-style: italic;
   text-decoration: underline;
}
img.gallery-story-image {
  display: block;
  margin: 1em 0;
  height: auto;
  width: 100%;
}
img.gallery-image {
  height: 125px;
  width: 125px;
}
p.fixed-percentages {
   color: red;
   font-size: 85%;
   font-style: italic;
   margin-top: .2em;
   margin-bottom: -.8em;
   text-decoration: underline;
}
.gallery-page-text-remainder,
.gallery-page-less-link {
  display: none;
}

/*
 * =========================
 * For the single image page
 * =========================
 */
figcaption {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.single-image {
  width: 100%;
}
.single-img {
  margin: 4px;
  padding: 4px;
  height: auto;
  width: 500px;
}
img.story-image-left,
img.story-image-right {
  display: inline;
  height: auto;
  width: 40%;
}
img.story-image-left {
  float: left;
  margin: .5em 1.5em .5em 0;
}
img.story-image-right {
  float: right;
  margin: .5em 0 .5em 1.5em;
}
.image-year {
  font-size: .9em;
  margin-top: .8em;
}
/*
 * Create our own bootstrap button colors that match the colors in the images
 */
.som-btn-all {
  margin: .33em;
}
.som-btn-blue {
  background: #0000FF;
  color: #FFFFFF;
}
.som-btn-blue:hover, .som-btn-blue::selection {
  color: #111111;
}
.som-btn-green {
  background: #00FF00;
  color: #000000;
}
.som-btn-red {
  background: #FF0000;
  color: #FFFFFF;
}
.som-btn-yellow {
  background: #FFFF00;
  color: #000000;
}
.som-text-to-toggle {
  display: none;
}
.before-whole-story {
  margin-top: 1.5em;
}
#whole-story-html {
  margin-bottom: 3em;
}
/*
 * =================
 * For the Quiz Page
 * =================
 */
li.quiz-sizes-list {
   margin: .15em;
   padding: .15em;
}
a.quiz-size-text {
   font-size: 1.2em;
}
input#load-answers {
   margin-left: .5em;
}
p.quiz-form-opt-req {
   font-size: 1.1em;
   font-style: italic;
   text-decoration: underline;
}
.quiz-help-text {
   margin-left: 2em;
   font-size: .9em;
   font-style: italic;
}
.errorlist, .quiz-error {
   border: red solid 2px;
   font-size: 1.25em;
   list-style-type: none;
   padding: .5em;
}
div.quiz-results {
   border: black solid 2px;
   font-size: 1.25em;
   padding: 1.5em;
}
ul.results-messages > li {
   list-style-type: none;
   padding: .5em;
}
/*
 * We can only style the widget i.e., the input tag, hence the negative value
 */
input.quiz_answer {
    margin-left: -1.5em;
}
#id_question_00,
#id_question_01, #id_question_02, #id_question_03, #id_question_04, #id_question_05,
#id_question_06, #id_question_07, #id_question_08, #id_question_09, #id_question_10,
#id_question_11, #id_question_12, #id_question_13, #id_question_14, #id_question_15,
#id_question_16, #id_question_17, #id_question_18, #id_question_19, #id_question_20,
#id_question_21, #id_question_22, #id_question_23, #id_question_24, #id_question_25,
#id_question_26, #id_question_27, #id_question_28, #id_question_29, #id_question_30,
#id_question_31, #id_question_32, #id_question_33, #id_question_34, #id_question_35,
#id_question_36, #id_question_37, #id_question_38, #id_question_39, #id_question_40,
#id_question_41, #id_question_42, #id_question_43, #id_question_44, #id_question_45,
#id_question_46, #id_question_47, #id_question_48, #id_question_49, #id_question_50,
#id_question_51, #id_question_52, #id_question_53, #id_question_54, #id_question_55,
#id_question_56, #id_question_57, #id_question_58, #id_question_59, #id_question_60,
#id_question_61, #id_question_62, #id_question_63, #id_question_64, #id_question_65,
#id_question_66, #id_question_67, #id_question_68, #id_question_69, #id_question_70,
#id_question_71, #id_question_72, #id_question_73, #id_question_74, #id_question_75,
#id_question_76, #id_question_77, #id_question_78, #id_question_79, #id_question_80,
#id_question_81, #id_question_82, #id_question_83, #id_question_84, #id_question_85,
#id_question_86, #id_question_87 {
    list-style: none;
}

/*
 * Reference:
 *   http://stackoverflow.com/questions/15648329/how-to-make-a-bootstrap-nav-link-inactive
 * I should be able to use "disabled" to indicate the option is disabled
 *   (it is built in to bootstrap)
 *   but that did not work
 * I should be able to specify my own class (e.g, "selected-option", below)
 *   but that did not work
 * If I take the ".selected-option" off the following
 *   all options turn grey, so that works
 *   (i.e., this sheet being included last and thus overriding the others)
 * But I just want to turn the .selected-option grey, and I cannot
 *   figure out why (after repeated attempts!)
 * Used "Inspect" option to verify that the class is showing up in the source
 *   Spent way too much time on something that should be simple!
 * *** This is not important enough to try to figure out wtf is going on here
 * *** So we are moving on...
 * SUMMARY:
 * These turn *all* the links grey, but the more-specific ".selected-option"
 *   class specifications do not work for turning just the selected option grey.
 * Seriously wtf.
 nav a,
 nav a:hover,
 nav a:visited,
 */
/*
 * To reiterate: NONE OF THESE WORK!
 * Just leaving this code in here so I don't waste time trying this again!
 * -----------------------------------------------------------------------
 */
li.disabled,
li.disabled:hover,
li.disabled:visited,
li.disabled a,
li.disabled:hover a,
li.disabled:visited a,
nav li.disabled,
nav li.disabled:hover,
nav li.disabled:visited,
nav li.disabled a,
nav li.disabled:hover a,
nav li.disabled:visited a {
    color: grey;
}
nav a:hover {
    text-decoration: underline;
}
