/*
 * According to comments in main.css, we are "supposed" to
 * add our custom styles into the middle of that file.
 * I decided to put them here, instead.
 */

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/*
 * Adding styles for the header, to get the look and feel I want
 */
h1.site-name {
    text-align: left;
}
h1 {
    margin-top: .5em;
    margin-bottom: .5em;
}
.title {
    display: block;
    text-align: left;
}
.tagline {
    color: white;
    display: block;
    font-style: italic;
    font-weight: normal;
    margin-top: 0;
}
nav {
    margin-top: 2.2em;
}
img.site-header {
    float: left;
    margin: .6em;
}
@media only screen and (max-width: 479px) {
    img.site-header {
        display: block;
        float: none;
        margin: .5em auto;
    }
    h1.site-name,
    .tagline {
        text-align: center;
    }
}

/*
 * For links in the aside and footer, which have backgrounds.
 */
a.aside,
a.footer {
    color: lightskyblue;
    text-decoration: none;
}
a.aside:hover,
a.footer:hover {
    color: lightgrey;
    text-decoration: underline;
}
/*
 * Styles for footer (also see the .footer-container class below)
 */
footer {
    color: white;
    margin: 3em auto;
    padding: 1em;
    text-align: center;
    width: 80%;
}

/*
 * ==========================
 *  Overriding styles in the
 *   "ALL: Orange Theme"
 *  section of main.css .
 * ==========================
 */

.header-container {
    border: 12px solid maroon;  /* was: #e44d26; */
    border-width: 12px 0;
}

.footer-container,
.main aside {
    border: 12px solid maroon;  /* was: #e44d26; */
    border-radius: 6px;
    border-width: 12px 0;
}

.header-container,
.footer-container,
.main aside {
    background: firebrick;   /* was: #f16529; */
}

.title {
    color: white;
}

/*
 * ==========================
 *  Overriding styles in the
 *   "MOBILE: Menu"
 *  section of main.css .
 * ==========================
 */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 0;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: maroon;   /* was: #e44d26; */
}

/*
 * Semantic styles
 */
.air-quotes::before { content: '"'; }
.air-quotes {
    font-style: italic;
}
.air-quotes::after { content: '"'; }

.superscript::before { content: "["; }
.superscript {
    font-variant-position: super;
}
.superscript::after { content: "]"; }
ul.notes {
    list-style-type: none;
}

/*
 * Reference:
 *   http://stackoverflow.com/questions/15648329/how-to-make-a-bootstrap-nav-link-inactive
 * I should be able to use "disabled" to indicate the option is disabled
 *   (it is built in to bootstrap)
 *   but that did not work
 * I should be able to specify my own class (e.g, "selected-option", below)
 *   but that did not work
 * If I take the ".selected-option" off the following
 *   all options turn grey, so that works
 *   (i.e., this sheet being included last and thus overriding the others)
 * But I just want to turn the .selected-option grey, and I cannot
 *   figure out why (after repeated attempts!)
 * Used "Inspect" option to verify that the class is showing up in the source
 *   Spent way too much time on something that should be simple!
 * *** This is not important enough to try to figure out wtf is going on here
 * *** So we are moving on...
 * SUMMARY:
 * These turn *all* the links grey, but the more-specific ".selected-option"
 *   class specifications do not work for turning just the selected option grey.
 * Seriously wtf.
 nav a,
 nav a:hover,
 nav a:visited,
 */
/*
 * To reiterate: NONE OF THESE WORK!
 * Just leaving this code in here so I don't waste time trying this again!
 * -----------------------------------------------------------------------
 */
li.disabled,
li.disabled:hover,
li.disabled:visited,
li.disabled a,
li.disabled:hover a,
li.disabled:visited a,
nav li.disabled,
nav li.disabled:hover,
nav li.disabled:visited,
nav li.disabled a,
nav li.disabled:hover a,
nav li.disabled:visited a {
    color: grey;
}
nav a:hover {
    text-decoration: underline;
}

/*
 * ========================
 * Styles for the Quiz Page
 * ========================
 */
/*
 * We can only style the widget i.e., the input tag, hence the negative value
 */
input.quiz_answer {
    margin-left: -1.5em;
}
#id_question_01, #id_question_02, #id_question_03, #id_question_04, #id_question_05,
#id_question_06, #id_question_07, #id_question_08, #id_question_09, #id_question_10,
#id_question_11, #id_question_12, #id_question_13, #id_question_14, #id_question_15,
#id_question_16, #id_question_17, #id_question_18, #id_question_19, #id_question_20,
#id_question_21, #id_question_22, #id_question_23, #id_question_24, #id_question_25,
#id_question_26, #id_question_27, #id_question_28, #id_question_29, #id_question_30,
#id_question_31, #id_question_32, #id_question_33, #id_question_34, #id_question_35,
#id_question_36, #id_question_37, #id_question_38, #id_question_39, #id_question_40,
#id_question_41, #id_question_42, #id_question_43, #id_question_44, #id_question_45,
#id_question_46, #id_question_47, #id_question_48, #id_question_49, #id_question_50,
#id_question_51, #id_question_52, #id_question_53, #id_question_54, #id_question_55,
#id_question_56, #id_question_57, #id_question_58, #id_question_59, #id_question_60,
#id_question_61, #id_question_62, #id_question_63, #id_question_64, #id_question_65,
#id_question_66, #id_question_67, #id_question_68, #id_question_69, #id_question_70,
#id_question_71, #id_question_72, #id_question_73, #id_question_74, #id_question_75,
#id_question_76, #id_question_77, #id_question_78, #id_question_79, #id_question_80,
#id_question_81, #id_question_82, #id_question_83, #id_question_84, #id_question_85,
#id_question_86, #id_question_87, #id_question_88 {
    list-style: none;
}
